ol p {
  display: inline-block;
}

ol {
  font-size: .8rem;
  padding-left:0;
  list-style-position:inside;
}

ul {
  padding-left: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  font-weight: 700;
}

p {
  line-height: 2rem;
  word-wrap: break-word;
  box-sizing: border-box;
  display: block;
}
@media only screen and (max-device-width: 480px) {
  p {
    line-height: 1.8rem;
  }
}

li > p {
  margin:0;
}

.content table, td, th {
  border-collapse: collapse;
  border: 1px solid #333;
}

.content th,td {
  font-size: .9rem;
  padding: 8px 12px;
}
@media only screen and (max-device-width: 480px) {
  .content th,td {
    padding: 6px 8px;
  }
}

.content th {
  background: #fff;
}
.content tr:nth-child(odd){
  background: #eee;
}

.content hr {
  border: none;
  background: none;
}

