:root {
  --gray-light: #eeeeee;
  --code-font: Consolas, ui-monospace, Menlo, Monaco, monospace;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: auto;
  padding: 0 2rem;
  text-align: left;
  font-size: 13pt;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.6;
}

@media (max-width: 720px) {
  body {
    padding: 0 1.5rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  margin-top: 1.5em;
  margin-bottom: 0.25em;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

table {
  width: 100%;
  border: 1px outset grey;
  border-spacing: 2px;
}

td,
th {
  border: 1px inset grey;
  padding: 0.2em 0.4em;
}

img {
  max-width: 100%;
  height: auto;
}

code {
  font-family: var(--code-font);
  background-color: var(--gray-light);
  font-size: 11pt;
  padding: 0.1em 0.25em;
  border-radius: 2px;
}

pre {
  font-family: var(--code-font);
  padding: 1em;
  border: none;
  font-size: 11pt;
  line-height: 1.6;
  overflow-x: auto;
}

pre > code {
  all: unset;
}

blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
}

ul {
  padding-left: 1em;
}
ol {
  padding-left: 1.1em;
}
