pre {
  font-family: var(--code-font);
  padding: 1em;
  border: none;
  font-size: 11pt;
  line-height: 1.65em;
  overflow-x: auto;
}

pre > * {
  font-family: var(--code-font);
}

*:not(pre) > code {
  font-family: var(--code-font);
  background: #eeeeee;
  font-size: 11pt;
  padding: 0.1em 0.25em;
  box-shadow: none;
  border: none;
}

img {
  max-width: 640px;
  width: 100%;
}
