---
import { GIHTUB_ACCOUNT, X_ACCOUNT } from '../consts';
import NavLink from './NavLink.astro';
---

<div class=".nav-links-container">
  <NavLink href="/aboutme/">Profile</NavLink>{' '}
  <NavLink href={`https://github.com/${GIHTUB_ACCOUNT}`}>GitHub</NavLink>{' '}
  <NavLink href={`https://twitter.com/${X_ACCOUNT}`}>X</NavLink>{' '}
  <NavLink href="/rss.xml">RSS</NavLink>
</div>

<style>
  .nav-links-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
</style>
