body {
    padding: 1rem 1rem 3rem 1rem;
    font-size: 13pt;
    line-height: 1.7em;
}

.global-wrapper{
    max-width: 800px;
    margin: auto;
}

td, th, table {
    border-spacing: 2px;
}

td, th {
    border: 1px inset grey;
    padding: .3em;
}

table {
    border: 1px outset grey;
}

h1,h2,h3,h4,h5,h6{
    line-height: 1.2em;
    word-break: break-word;
}
